<div class="container">
  <div class="row flex-column">
    <h1 class="display-3">Your Followers</h1>
    <div class="d-flex justify-content-start align-items-center col-12 mb-2">
      <a class="pr-1 text-info" [routerLink]="['/observable']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">observable </a>
       |
      <a class="pl-1 text-info" [routerLink]="['/promise']" [routerLinkActive]="['active']"
         [routerLinkActiveOptions]="{exact:true}"> promise</a>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
