<div class="container">
  <div class="row justify-content-start">
    <div class="col-12 col-lg-4 mb-3" *ngFor="let follower of followers">
      <div class="card">
        <div class="card-img-top"></div>
        <div class="card-body">
          <img class="avatar" src="{{ follower.avatar }}">
          <h5 class="card-title">{{ follower.userName }}</h5>
          <p class="card-text">{{ follower.quote }}</p>
          <div class="buttons d-flex justify-content-start align-items-center">
            <div class="button pr-3">
              <i class="fas fa-heart"></i>
              {{ follower.likes }}M
            </div>
            <div class="button">
              <i class="fas fa-retweet"></i>
              {{ follower.following }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
